<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1">
    <title>{{ post.title }}</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'ProectBlog/project/style.css'%}">
</head>
<body class="blog blog_fonts">
    <header class="header container__padding">
        <nav class="nav">Тут будут другие кнопки</nav>
    </header>
    <main class="main container__width container__padding">
        <section class="page-nav container__block-padding ">
            <div class="page-nav_buttons">
                <a class="button button__publish" href="{% url 'post_list' %}"> 
                    Вернуться назад
                </a>
                <a class="button button__publish" href="{% url 'post_edit' post_pk=post.pk %}"> 
                    Редактирование
                </a>
                {% if post.status_published_post == False %}
                <a class="button button__publish" href="{% url 'published_post' post_pk=post.pk %}">
                     Опубликовать
                </a>
                {% endif %}
                <a class="button button__publish" href="{% url 'post_delete' post_pk=post.pk %}">
                     Удалить
                </a>
                <a  class="button button__publish" href="{% url 'feedback' post_pk=post.pk %}">
                    Оставить отзыв
            </a>
            </div>
            <a class="page-header" href="{% url 'post_list' %}"> 
                Бухич и настолки 
            </a>
        </section>
        <section class="post-header container__block-padding">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="post-info">
                <div class="post-date">{{ post.created_date }}</div>
                <p class="post-hashtag">{{ post.category }}</p>
            </div>
        </section>
        <section class="post-content post-content_detail post-content_padding container__block-padding">{{ post.text }}</section>
        <section class="comments container__block-padding">
            <h3 class="comments-title">Комментарии : {{ kol_comments }} </h3>
            <form class="comment-form container__block-padding" action="" method="POST">{% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" value="Create" class="button button__search" >
            </form>
            <div class="comment-list">
                    {%for i in comments%}
                    <div class="comment comment_margin">
                        <div class="comment__header">
                            <h4 class="comment-title"> {{ i.author }}</h4>
                            <p class="comment-date">{{ i.publish_date }}</p>
                        </div>
                        <p class="comment__text">{{ i }}</p>
                        {% if user.id == i.author.id %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
<!--    {{ items }}
    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px ">
        <a style="font-size: 45px; color: #1b1b1b" href="{% url 'post_list' %}"> Бухич и настолки </a>

    </div>
    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px ">
        <a style="font-size: 25px; color: #681b1b" > {{ post.category }} </a>

    </div>

    <div style="text-align: left;  ">
        <a style="font-size: 20px; margin: 5px; color: #580000; border: 1px solid; border-radius: 25px; padding: 5px "
           href="{% url 'post_list' %}"> Вернуться назад
        </a>

        <a style="font-size: 20px; margin: 20px; margin-right: 20px; color: #580000; border: 1px solid; border-radius: 35px; padding: 5px "
           href="{% url 'post_edit' post_pk=post.pk %}"> Редактирование
        </a>
        {% if post.status_published_post == False %}
        <a style="font-size: 20px; margin: 20px; margin-right: 20px; color: #580000; border: 1px solid; border-radius: 35px; padding: 5px "
           href="{% url 'published_post' post_pk=post.pk %}"> Опубликовать
        </a>
        {% endif %}

        <a style="font-size: 20px; margin: 20px; margin-right: 20px; color: #580000; border: 1px solid; border-radius: 35px; padding: 5px "
           href="{% url 'post_delete' post_pk=post.pk %}"> Удалить
        </a>
    <button>
        <a  href="{% url 'feedback' post_pk=post.pk %}">
                Оставить отзыв
        </a>
    </button>
    </div>

    <div style="">
        <div style="">
              <div style="font-size: 25px; text-align: center">{{ post.created_date }}</div>
              <div style="font-size: 30px; text-align: center; padding: 20px" >
                  <a > {{ post.title }} </a>
              </div>
              <div style="margin-top: 25px; text-align: center" >
                {{ post.text }}
              </div>


        </div>
    </div>
    </div>
        <br style="margin-top: 25px; text-align: left" >
        <h2>Комментарии : {{ kol_comments }} </h2>

    </form>
    <form action="" method="POST">{% csrf_token %}

    {{ comment_form.as_p }}
    <input type="submit" value="Create"; style="margin-left: 50px" >
     </form>


    </form>
    <div>
        {%for i in comments%}
           <h3> {{ i.author }}<br></h3>
            {{ i.publish_date }}<br>
            {{ i }}<br>
           {% if user.id == i.author.id %}
           {% endif %}


        {% endfor %}
    </div>

-->
</body>
</html>